<h3>Choose from the following birds or <a href="/sightings/new">create new bird sighting</a> </h3>
<br>
<div class="grid-container">
    <% @birds.each do |bird|%>
        <div class="grid-item">
            <img src=<%= bird.img_src %>></a>
            <h5><%= bird.credit %> <a href=<%= bird.license_url %>>Image License</a></h5>
            <br>
            <p><strong>Order: </strong><%= bird.order %></p>
            <p><strong>Family: </strong><%= bird.family %></p>
            <strong>Scientific name: </strong><%= bird.scientific_name %>
            <p><strong>Common name: </strong><%= bird.common_name %></p>
            <form action="/sightings/" method="post">
                <input type="hidden" name="common_name" value="<%=bird.common_name%>">
                <input type="hidden" name="scientific_name" value="<%=bird.scientific_name%>">
                <input type="hidden" name="order" value="<%=bird.order%>">
                <input type="hidden" name="family" value="<%=bird.family%>">
                <input type="hidden" name="img_src" value="<%=bird.img_src%>">
                <input type="hidden" name="credit" value="<%=bird.credit%>">
                <input type="hidden" name="license_url" value="<%=bird.license_url%>">
                <input type="hidden" name="datetime" value="<%=Time.now%>">
                <input type="submit" value="Add Bird Sighting">
            </form>

        </div>
    <% end %>

</div>