<h3>Choose from the following birds or <a href="/sightings/new">create new bird sighting</a> </h3>
<br>
<% if !@search_terms.nil?%>
    <h3>Results for "<%= @search_terms %>"</h3>
<% end %>
<br>
<div class="searchBar">
    <form action="/sightings/choose" method="post">
        <input type="text" name="search" placeholder="Search for bird">
        <button type="submit">Search</button>
    </form>
</div>

<div class="grid-container">
    <% @birds.each do |bird|%>
        <div class="grid-item">
            <h4><%= bird.common_name %></h4>
            <img src=<%= bird.img_src %>></a>
            <h5><%= bird.credit %> <a href=<%= bird.license_url %>>Image License</a></h5>
            <br>
            <p><strong>Order: </strong><%= bird.order %></p>
            <p><strong>Family: </strong><%= bird.family %></p>
            <p><strong>Scientific name: </strong><%= bird.scientific_name %></p>
            <form action="/sightings/" method="post">
                <input type="hidden" name="common_name" value="<%=bird.common_name%>">
                <input type="hidden" name="scientific_name" value="<%=bird.scientific_name%>">
                <input type="hidden" name="order" value="<%=bird.order%>">
                <input type="hidden" name="family" value="<%=bird.family%>">
                <input type="hidden" name="img_src" value="<%=bird.img_src%>">
                <input type="hidden" name="credit" value="<%=bird.credit%>">
                <input type="hidden" name="license_url" value="<%=bird.license_url%>">
                <input type="hidden" name="datetime" value="<%=DateTime.now%>">
                <input type="submit" value="Add Bird Sighting">
            </form>

        </div>
    <% end %>

</div>