<h2>Edit your bird sighting</h2>
<br>
<form method="post" action="/sightings/<%=@sighting.slug%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <ul class="flex-outer">
    <li>
        <label></label>
        <div class="currentInfo"><h3>Current Information</h3></div>
        <input type="hidden"><h3>New Information</h3>
    </li>
    <li>
        <label for="datetime">Date and time:</label>
        <div class="currentInfo"> <%= @sighting.datetime.strftime("%B %e, %Y, %l:%M %p") unless @sighting.datetime.nil?%></div>
        <input type="datetime-local" id="datetime" name="datetime">
    </li>
    <li>
        <label for="location">Location:</label>
        <div class="currentInfo"><%= @sighting.location %></div>
        <input type="text" id="location" name="location">
    </li>
    <li>
        <label for="common_name">Bird common name:</label>
        <div class="currentInfo"><%= @sighting.common_name %></div>
        <input type="text" id="common_name" name="common_name">
    </li>
    <li>
        <label for="scientific_name">Bird scientific name:</label>
        <div class="currentInfo"><%= @sighting.scientific_name %></div>
        <input type="text" id="scientific_name" name="scientific_name">
    </li>
    <li>
        <label for="img_src">Link to image:</label>
        <div class="currentInfo"><%= @sighting.img_src %></div>
        <input type="text" id="img_src" name="img_src" placeholder="www.example.com">
    </li>
    <li>
        <label for="description">Description:</label>
        <div class="currentInfo"><%= @sighting.description %></div>
        <textarea name="description" id="description"></textarea>
    </li>
    <li>
        <button type="submit">Update Bird Sighting</button>
    </li>
</ul>