<h2>My bird sightings</h2>

<div class="grid-container">
    <% @sightings.each do |sighting|%>
        <div class="grid-item">
            <% if sighting.img_src.nil? %>
                <img class="default" src=<%="/images/bird.png" %>>
            <% else %>
                <img src=<%= sighting.img_src %>>
            <% end %>
            <br>
            <%= "<p><strong> Bird common name: </strong>" + sighting.common_name + "</p>" unless sighting.common_name.nil? %>
            <%= "<p><strong> Bird order: </strong>" + sighting.order + "</p>" unless sighting.order.nil? %>
            <%= "<p><strong> Bird family: </strong>" + sighting.family + "</p>" unless sighting.family.nil? %>
            <%= "<p><strong> Bird scientific name: </strong>" + sighting.scientific_name + "</p>" unless sighting.scientific_name.nil? %>
            <%= "<p><strong> Sighting date: </strong>" + sighting.datetime.strftime("%B %d, %Y") + "</p>" unless sighting.datetime.nil? %>
            <%= "<p><strong> Sighting time: </strong>" + sighting.datetime.strftime("%l:%M %p") + "</p>" unless sighting.datetime.nil? %>
            <%= "<p><strong> Sighting location: </strong>" + sighting.location + "</p>" unless sighting.location.nil? %>
            <%= "<p><strong> Sighting description: </strong>" + sighting.description + "</p>" unless sighting.description.nil? %>
            <br>
            <button onclick="window.location.href='/sightings/<%= sighting.common_name.slug %>';">View</button>
            <button onclick="window.location.href='/sightings/<%= sighting.common_name.slug %>/edit';">Edit</button>
            <button onclick="window.location.href='/sightings/<%= sighting.common_name.slug %>/delete';">Delete</button>

        </div>
    <% end %>

</div>