<h3>Bird Sighting</h3>
<br>
<h4><a href="/sightings/<%= @sighting.id %>/edit">Edit this sighting</a></h4>
<br>
<h4><a href="/sightings/<%= @sighting.id %>/delete">Delete this sighting</a></h4>
<br>

<p>Bird common name: <%= @sighting.common_name unless @sighting.common_name.nil? %></p>
<p>Bird scientific name: <%= @sighting.scientific_name unless @sighting.scientific_name.nil? %></p>
<p>Sighting date: <%= @sighting.datetime.strftime("%B %d, %Y") unless @sighting.datetime.nil? %></p>
<p>Sighting time: <%= @sighting.datetime.strftime("%l:%M %p") unless @sighting.datetime.nil? %></p>
<p>Sighting location: <%= @sighting.location unless @sighting.location.nil? %></p>
<p>Sighting description: <%= @sighting.description unless @sighting.description.nil? %></p>