<h3>Bird Sighting</h3>
<br>
<h4><a href="/sightings/<%= @sighting.id %>/edit">Edit this sighting</a></h4>
<br>
<h4><a href="/sightings/<%= @sighting.id %>/delete">Delete this sighting</a></h4>
<br>

<p>Bird common name: <%= @sighting.common_name  %></p>
<p>Bird scientific name: <%= @sighting.scientific_name %></p>
<p>Sighting date: <%= @sighting.date %></p>
<p>Sighting time: <%= @sighting.time %></p>
<p>Sighting location: <%= @sighting.location %></p>
<p>Sighting description: <%= @sighting.description %></p>